.gradient-1{
    background-color: rgb(21 128 61 / var(--tw-bg-opacity));
    background: linear-gradient(90deg, rgba(21, 128, 61), rgb(34 197 94))
}

.modal-backdrop{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 100000;
    top: 0;
    left: 0;
    overflow: hidden;
}

.modal{
    margin: 0 auto;
    margin-top: 5%;
}

@media screen and (max-width: 640px){
    .modal{
        width: 100%;
        padding-top: 5%;
    }
}

#mobile-menu-section{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8)
}

.dropdown-items a{
    display:block;
}

.dropdown-items{
    position:fixed;
    background:white;
    min-width:7%;

    
}
.btn-dropdown{
    z-index:1;
    max-width: 250px;
}

@media screen and (max-width: 766px){
    #dropdown-nav-mobile{
        width: 100%;
        position: absolute;
        left: 0;
    }
    .dropdown-items{
        width: 22%;
        position:absolute;
    }
}